<nav class="navBar">
    <div class="navBar__navig">
        <a href="/" class="navBar__navig--btn">עמוד הבית</a>
        <a href="/about" class="navBar__navig--btn">אודות</a>
    </div>

    <div class="navBar__contact">
        <% if (mainPage) { %>
            <a href="tel:<%- mainPage.contact[0].phone %>" class="navBar__contact--btn">
                <img src="<%- mainPage.contact[0].icon%>" alt="<%- mainPage.contact[0].icon%>">
            </a>
            <a href="<%- mainPage.contact[1].youtube %>" class="navBar__contact--btn">
                <img src="<%- mainPage.contact[1].icon%>" alt="<%- mainPage.contact[1].icon%>">
            </a>
            <a href="<%- mainPage.contact[2].facebook %>" class="navBar__contact--btn">
                <img src="<%- mainPage.contact[2].icon%>" alt="<%- mainPage.contact[2].icon%>">
            </a>
            <a href="mailto:<%- mainPage.contact[3].mail %>" class="navBar__contact--btn">
                <img src="<%- mainPage.contact[3].icon%>" alt="<%- mainPage.contact[3].icon%>">
            </a>
            <% } %>
    </div>
</nav>