<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head') %>
        <link rel="stylesheet" href="../style/dist/index.css">
</head>

<body>
    <% if (mainPage) { %>
        <%- include('../components/navbar', {mainPage}) %>

            <div class="homePage-infoGrid">
                <img class="homePage-infoGrid__img" src="<%- mainPage.mainPics%>" alt="mainPage">
                <p class="homePage-infoGrid__des">
                    <%- mainPage.desc%>
                </p>
            </div>
            <% } %>

                <% if (places) { %>
                    <% places.forEach(place=> { %>
                        <div>
                            <%- include ('../components/place.ejs', {place}) %>
                        </div>
                        <% }) %>
                            <% } %>

                                <%- include('../components/footer') %>
</body>

</html>